.social-login {
	max-width: 320px;
	button {
		margin: 5px 0;
		padding: 10px;
		color: white;
	}
	.social-login--github {
		background-color: $black;
	}
	.social-login--facebook {
		background-color: #3a5998;
	}
}
