extends layouts/main.pug
include mixins/videoBlock

block content
    .search__header
        h3 Searching for #{searchingBy}

    .video
        if videos.length === 0
            p #{searchingBy} is not found.
        else
            each video in videos
                +videoBlock({
                    id: video.id,
                    title: video.title,
                    views: video.views,
                    description: video.description,
                    videoFile: video.videoFile
                })