mixin videoBlock(video = {})
    .viedoBlock
        a(href=routes.videoDetail(video.id))
            video.videoBlock__thumnail(src=video.videoFile)
            h4.videoBlock__title=video.title
            h6.videoBlock__views=video.views
    